<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Below is the stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/Appstyle.css' %}">
    <!-- below is frontend js (always add this js after the server js.) -->
    {% load static %}
    <script defer src="{% static 'JS/response.js' %}"></script>
    <title>ChatBot</title>
</head>

<body>
    <!-- main container -->
    <div class="container">
        <h1 class="heading">
            <!-- App logo container -->
            ChatBot
        </h1>
        <!-- messages container -->
        <div class="msgcontainer" id="scrollmsg"></div>
    </div>
    <div class="send">
        <!-- form container -->
        <form action="#" id="send-container">{% csrf_token %}
            <input type="text" name="messageInp" id="messageInp">
            <button class="btn" type="submit" id="SendButton" >Send</button>
        </form>
    </div>
</body>
</html>